/* Important Roboto Fonts */
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

/*section {
    padding: 2em;
}*/

.fa {
    font-size: 1.5em;
}

.trapezoid {
    height: 0;
    width: 60%;
    border-bottom: 55em solid #ec3504;
    border-left: 25em solid transparent;
    border-right: 0em solid transparent;
    float: right;
}

.display {
    display: none;
}

.hr-red {
	border-top: 8px solid #FF2B06;
	width: 100px;
}

/* About page */
.team-info {
	margin: 0% 1% 40px 1%;
	width: 23%;
}

.team-thumbnail {
	background-color: gray;
	height: 240px;
}

.team-name {
	text-align: center;
}